body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10rem;
}

.tabla-estilo {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabla-estilo thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.tabla-estilo th,
.tabla-estilo td {
    padding: 12px 15px;
}

.tabla-estilo tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabla-estilo tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabla-estilo tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabla-estilo tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
  